* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.dropdown-menu li{
  position: relative;
}
.dropdown-menu .submenu{
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu>li:hover>.submenu{
  display: block;
}

#na2{
  padding: 30px;
  background-color:aliceblue;
}

/*above navbar section log/sign*/
#na1{
  background-color:rgb(252, 113, 63);
  padding-left: 50px;
  padding-right: 50px;

}
#na1 a{
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;

}
#na1 a:hover{
  text-decoration: none;
  font-weight: bold;
  color:rgb(98, 98, 98);

}
#na1 p{
  font-weight: bold;
  color: whitesmoke;

}
#na1 p:hover{
  font-weight: bold;
  color: rgb(98, 98, 98);
}

/*solution content*/
#sol1{
  word-wrap: break-word;
  padding: 0px 70px 0px 70px;
  margin: 15px;
}
#sol1 h2{
  color:rgb(252, 113, 63) ;
}

/*form section overall*/
#fo1{
  margin: 15px;
  padding: 0px 70px 0px 70px;
}

#fo1 button{
  background-color: rgb(252, 113, 63);
  font-size: large;
}

/*navbar tab names*/
#nbtit a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#nbtit a:hover{
  font-weight: bold;
  text-decoration: underline solid rgb(252, 113, 63);
  text-decoration-thickness: 5px;  
}

legend{
  color:rgb(252, 113, 63) ;
  font-weight: 450;
}

/*icons in footer section*/
#sicon a{
  opacity: 0.6;
  text-decoration: none;
  font-size:40px;
  color:rgb(29, 29, 29)

}
#sicon a:hover{
  opacity: 1.0;
  font-size:50px;
  transition: 0.2s;

}

/*form individual sections*/
#for1{
  display: inline-block; /* or display: inline; */

}
#for2{
  display: inline-block; /* or display: inline; */

}

/*Breadcrum */
